
.main-title {
    margin-bottom: 42px;
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #999 ;
    font-family: 'Quicksand', sans-serif;
}
div.col-6>img{
    object-fit: cover;
    max-width: 100%;
    border-radius: 5px;
    height: 500px;
}
.solution_title {
    padding: 0 30px;
    margin: 100px 0 40px;
    line-height: 32px;
    font-size: 30px;
    font-weight: 800;
    color: #000;
    font-family: 'Quicksand', sans-serif;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    opacity: 0;
}
.solution_text {
    padding: 0 30px;
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 28px;
    color: #3a3939;
}
.solution_stats {
    padding: 0 20px;
    margin-top: 60px;
    text-align: center;
}
.stats_item:first-of-type {
    border-right: 1px solid #e5e5e5;
}
.stats_value {
    margin-bottom: 0;
    font-size: 48px;
    line-height: 53px;
    color: #000;
}
.stats_text {
    margin-bottom: 0;
    font-size: 18px;
    color: #515151;
}

figure, p {
    margin: 0;
}