ul.ml-auto.navbar-nav{
    justify-content: space-around;
    font-size: 18px;
    font-weight: 500;
}
.nav-link{
    color:black;
    
}
.nav-link:focus, .nav-link:hover {
    color: rgb(66, 66, 146);
    border-bottom: 2px solid rgb(66, 66, 146);
}
.navbar-brand.nav-link:focus, .navbar-brand.nav-link:hover{
    border-bottom: none;
}