.footer {
    background-color: #1e77a7;
    color: #fff;
    padding: 70px 0;
}
.footer-single {
    line-height: 24px;
}
.footer-single >img {
    width: 127px;
    padding: 0px 9px 11px 9px;
}
figure, p {
    margin: 0;
}
.footer a {
    color: #fff;
    -webkit-transition: all .3s ease-in 0s;
    -moz-transition: all .3s ease-in 0s;
    -ms-transition: all .3s ease-in 0s;
    -o-transition: all .3s ease-in 0s;
    transition: all .3s ease-in 0s;
}
.footer h6 {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 30px;
}
.footer-single ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-single li {
    line-height: 32px;
}
.footer-single li a {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}
.footer-single li a:hover {
    color: black;
}