#fun_facts{
    padding: 70px 0;
}
.facts {
    font-weight: 400;
    text-align: center;
}
.fact_item {
    margin-top: 30px;
    transition: transform 0.3s ease-in-out;
}
.fact_item:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.fact_icon {
    height: 65px;
    margin-bottom: 15px;
}
.facts_text {
    margin: 0 -15px;
    border-right: 1px solid #e5e5e5;
}
.fact_number {
    margin-bottom: 15px;
    font-size: 48px;
    line-height: 48px;
    color: #1E77A7;
}
.fact_desc {
    font-size: 20px;
    line-height: 18px;
    color: #333;
}